<div class="container">
  <div class="ui card">
    <h1 class="title">Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{ member | uppercase }}</li>
    </ul>

    <div class="add-members-container">
      <input
        type="text"
        placeholder="Name"
        [(ngModel)]="newMemberName"
        (keyup.enter)="addMember()"
        (input)="checkErrorMsg()"
      />
      <button (click)="addMember()">Add</button>
      <p *ngIf="errorNameMessage !== ''" class="error-msg">
        {{ errorNameMessage }}
      </p>
    </div>

    <div class="generate-teams-container">
      <input
        type="number"
        placeholder="# of teams"
        [(ngModel)]="numberOfTeams"
        (input)="checkErrorMsg()"
        [min]="minNumberOfTeams"
        [max]="members.length"
      />
      <button (click)="generateTeams()">Generate</button>
      <p *ngIf="errorNumberOfTeamsMessage !== ''" class="error-msg">
        {{ errorNumberOfTeamsMessage }}
      </p>
    </div>

    <button class="clearBtn" (click)="clear()">Clear</button>
  </div>
</div>

<div class="teams-container" *ngIf="teams.length > 0">
  <app-team
    class="ui card"
    *ngFor="let team of teams; let i = index"
    [team]="team"
    [index]="i"
  >
  </app-team>
</div>
