<div class="container">
  <div class="ui card">
    <h1 class="title">Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>

    <div class="add-members-container">
      <input
        type="text"
        placeholder="Name"
        [(ngModel)]="newMemberName"
        (keyup.enter)="addMember()"
      />
      <button (click)="addMember()">Add</button>
    </div>

    <div class="generate-teams-container">
      <input
        type="number"
        placeholder="# of teams"
        [(ngModel)]="numberOfTeams"
      />
      <button (click)="generateTeams()">Generate</button>
    </div>

    <div class="teams-container"><button (click)="clear()">Clear</button></div>
  </div>
</div>

<div class="container" *ngFor="let team of teams; let i = index">
  <div class="ui card">
    <h3>Team {{ i + 1 }}</h3>
    <ul class="list">
      <li *ngFor="let member of teams[i]">{{ member }}</li>
    </ul>
  </div>
</div>
